@model ProductViewModel
<div class="container border product">
    <div class="container row product-child">
        <div class="col text-center ">
            <img src="@Url.Content(Model.ImgUrl)" class ="product-img"alt= "@Url.Content(@Model.Name + "_image")" />
        </div>
        <div class="product-title text-center>
            <span class="card-title "> @Model.TypeName @Model.Name</span>
            <br />
            <span>Цена: @Model.Price Руб.</span>
        </div>
        <div class="add-to-cart">
            <form method="post" >
                <input type="button" value="+"/>
            </form>
        </div>
    </div>
</div>
